/* Geral */
body {
    background: #3e2f05;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

/* Cabeçalho */
.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #1a1403;
    border-bottom: 3px solid #d4a017;
}

.logo {
    width: 60px;
    margin-right: 20px;
}



.titulo {
    margin: 0;
    font-size: 22px;
    color: #f8d47c;
}



.menu .btn {
    color: #f8d47c;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    transition: 0.3s;
}

.menu .btn:hover {
    background: #d4a017;
    color: #000;
}









/* Cardápio */
.cardapio {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    color: black;
    width: 240px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #0004;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 180px;
    border-radius: 8px;
}

.preco {
    font-weight: bold;
    color: #d40000;
    margin-top: 10px;
}
